/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/*! normalize.css v2.1.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

/*! normalize.css v2.1.0 | Base | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/*! normalize.css v2.1.0 | Links | MIT License | git.io/normalize */
a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

/*! normalize.css v2.1.0 | Typography | MIT License | git.io/normalize */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: "Helvetica Neue", Helvetica, "微軟正黑體", "Microsoft Jhenghei", "STHeitiTC-Light", Arial, sans-serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*! normalize.css v2.1.0 | Embedded Content | MIT License | git.io/normalize */
img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

/*! normalize.css v2.1.0 | Figures | MIT License | git.io/normalize */
figure {
  margin: 0;
}

/*! normalize.css v2.1.0 | Forms | MIT License | git.io/normalize */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/*! normalize.css v2.1.0 | Tables | MIT License | git.io/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5em;
}

body {
  font-family: "Helvetica Neue", Helvetica, "微軟正黑體", "Microsoft Jhenghei", "STHeitiTC-Light", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: futuramc;
  src: url(/css/futuramc.ttf);
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #333333;
}

.main-navi ul, .sub-navi ul, .footer .contact-info ul, .footer .social-media ul, .slider-container .slider-content ul, .popup .popup-container .content-photo ul, .index .container .latest-news ul, .container-news ul.news-list, .container-awards .awards-block ul, .about .container .designer-intro ul, .about .container .service-section .service-block ul, .about .container .service-section .service-block pre {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 2em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.2em;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
}

h5 {
  font-size: 0.875em;
  line-height: 1.71429em;
}

h6 {
  font-size: 0.75em;
  line-height: 2em;
}

p {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 1em;
  line-height: 1.5em;
}

blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-left: 3px solid #f0f2f0;
  padding-left: 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}
blockquote cite {
  display: block;
  color: #b3b3b3;
}
blockquote cite:before {
  content: '\2014 \00A0';
}

pre code {
  font-family: "Monaco", MonoSpace, sans-serif;
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 1px solid #f0f2f0;
  padding: 1.5em;
  background-color: #fafafa;
  font-size: 0.75em;
  line-height: 2em;
}

ol, ul {
  margin-top: 0em;
  margin-bottom: 0em;
}
ol ol, ol ul, ul ol, ul ul {
  margin: 0;
  padding: 0;
}

dl {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin: 0;
}

a {
  color: black;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
a:hover {
  color: wihte;
}
a:active, a:focus {
  outline: none;
}
a img {
  border: none;
}

img {
  max-width: 100%;
  margin-bottom: 0em;
  display: block;
}

hr, .divider {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-top: 1px solid #f0f2f0;
}

html, body {
  height: 100%;
  background-color: #e9e9e9;
}

.container {
  padding-top: 100px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 768px) {
  .container {
    padding-top: 160px;
  }
}
@media (min-width: 2000px) {
  .container {
    max-width: 1984px;
  }
}

@media (min-width: 1280px) {
  .container-portfolio {
    margin: 0 auto;
    max-width: 1280px;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}

.header-container {
  position: relative;
  height: 50px;
  background-color: #333366;
}
.header-container .navi-toggle {
  position: absolute;
  z-index: 10;
}
.header-container .navi-toggle a {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #333366;
  position: relative;
}
.header-container .navi-toggle a:before, .header-container .navi-toggle a:after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: white;
  position: absolute;
  -webkit-box-shadow: 1px 1px 0 black;
  -moz-box-shadow: 1px 1px 0 black;
  box-shadow: 1px 1px 0 black;
  left: 50%;
  margin-left: -9px;
}
.header-container .navi-toggle a:before {
  top: 37%;
}
.header-container .navi-toggle a:after {
  top: 63%;
}
.header-container .navi-toggle a span {
  display: block;
  width: 18px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: white;
  -webkit-box-shadow: 1px 1px 0 black;
  -moz-box-shadow: 1px 1px 0 black;
  box-shadow: 1px 1px 0 black;
  margin-left: -9px;
}
.header-container .logo {
  height: 50px;
  background-image: url(../images/icon_logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 120px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.header-container .logo a {
  display: block;
  height: 50px;
}

@media (min-width: 768px) {
  .header-container {
    height: 160px;
    overflow: hidden;
  }
  .header-container .navi-toggle {
    width: 160px;
    bottom: -100px;
    -webkit-transition: all 275ms ease;
    -moz-transition: all 275ms ease;
    -o-transition: all 275ms ease;
    transition: all 275ms ease;
  }
  .header-container .navi-toggle a {
    width: 160px;
  }
  .header-container .logo {
    display: block;
    width: 160px;
    height: 160px;
    background-color: #333366;
    background-image: url(../images/icon_logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 160px;
    z-index: 2;
    -webkit-transition: all 275ms ease;
    -moz-transition: all 275ms ease;
    -o-transition: all 275ms ease;
    transition: all 275ms ease;
  }
  .header-container .logo a {
    display: block;
    width: 160px;
    height: 160px;
  }
  .header-container .navi {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    background-color: black;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .header.tiny {
    position: fixed;
    top: 0;
    left: 0;
  }
  .header.tiny .header-container {
    height: 50px;
  }
  .header.tiny .navi-toggle {
    display: block;
    bottom: 0;
  }
  .header.tiny .logo {
    height: 50px;
    background-position: center -100px;
  }
  .header.tiny .main-navi {
    height: 50px;
  }
  .header.tiny .main-navi > ul {
    margin-top: 0;
  }
  .header.tiny .sub-navi {
    top: 0;
  }

  .awards .header .sub-navi {
    display: none;
  }
}
.main-navi {
  margin: 0;
  padding: 0;
  border: 0;
  padding-top: 30px;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
  z-index: 10;
  display: none;
}
.main-navi:after {
  content: "";
  display: table;
  clear: both;
}
.main-navi .button-close {
  display: inline-block;
  position: absolute;
  width: 44px;
  line-height: 44px;
  height: 44px;
  right: 5px;
  top: 0;
}
.main-navi .button-close a {
  display: block;
  font-size: 24px;
  color: #333366;
  font-weight: 300;
  font-family: Arial;
  text-align: center;
}
.main-navi > ul > li {
  text-align: center;
  -webkit-transition: all 275ms ease;
  -moz-transition: all 275ms ease;
  -o-transition: all 275ms ease;
  transition: all 275ms ease;
}
.main-navi > ul > li > a {
  display: block;
  line-height: 44px;
  color: black;
}
.main-navi > ul > li > a:hover {
  color: #666666;
}

.page.openNavi .main-navi {
  display: block;
}

@media (min-width: 768px) {
  .main-navi {
    position: relative;
    display: block;
    z-index: 1;
    padding-top: 0;
    height: 110px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 160px;
    text-align: center;
    overflow: hidden;
    -webkit-transition: all 275ms ease;
    -moz-transition: all 275ms ease;
    -o-transition: all 275ms ease;
    transition: all 275ms ease;
    background-color: black;
  }
  .main-navi .button-close {
    display: none;
  }
  .main-navi > ul {
    margin-top: 45px;
  }
  .main-navi > ul > li {
    display: inline-block;
    margin: 0 15px;
  }
  .main-navi > ul > li > a {
    color: #e9e9e9;
  }
  .main-navi > ul > li > a:hover {
    color: white;
  }
  .main-navi > ul > li.active a {
    color: white;
  }
  .main-navi > ul > li.home {
    display: none;
  }
  .main-navi .language {
    display: none;
  }
}
@media (min-width: 1024px) {
  .main-navi > ul > li {
    margin: 0 20px;
  }
}
.sub-navi {
  position: absolute;
  z-index: 9;
  top: 50px;
  width: 100%;
  -webkit-transition: all 275ms ease;
  -moz-transition: all 275ms ease;
  -o-transition: all 275ms ease;
  transition: all 275ms ease;
}
.sub-navi #current-page {
  height: 50px;
  line-height: 50px;
  background-color: black;
  text-align: center;
}
.sub-navi #current-page a {
  display: block;
  color: #e9e9e9;
}
.sub-navi #current-page a:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid white;
  margin-left: 20px;
  margin-bottom: 2px;
  -webkit-transition: all 275ms ease;
  -moz-transition: all 275ms ease;
  -o-transition: all 275ms ease;
  transition: all 275ms ease;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.sub-navi #current-page a:hover {
  color: white;
}
.sub-navi ul {
  display: block;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
  height: 100%;
}
.sub-navi ul li {
  line-height: 50px;
  text-align: center;
  background-color: black;
}
.sub-navi ul li a {
  display: block;
  color: #e9e9e9;
}
.sub-navi ul li.select a{
  color:#acacac;
}
.sub-navi ul li a:hover {
  color: white;
}
.sub-navi.top {
  top: 0;
}
@media (min-width: 768px) {
  .sub-navi {
    top: auto;
    height: 50px;
    padding-left: 160px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .sub-navi.top {
    top: auto;
  }
  .sub-navi #current-page {
    display: none;
  }
  .sub-navi ul {
    display: block;
    background-color: black;
    -webkit-box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    text-align: center;
    border-top: 1px solid #333333;
  }
  .sub-navi ul:after {
    content: "";
    display: table;
    clear: both;
  }
  .sub-navi ul li {
    display: inline-block;
    font-size: 12px;
  }
  .sub-navi ul li a:after {
    content: "|";
    padding: 0 10px;
  }
  .sub-navi ul li:last-child a:after {
    content: "";
  }
}

.sub-navi.open {
  height: 100%;
}
.sub-navi.open #current-page a:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sub-navi.open ul {
  display: block;
}

.footer {
  border-right: 10px solid #333366;
  background-color: black;
}
.footer .contact-info {
  text-align: center;
  padding-top: 35px;
}
.footer .contact-info ul li {
  font-size: 12px;
  color: white;
}
.footer .contact-info ul li.name {
  font-size: 14px;
}
.footer .social-media {
  padding: 25px 0;
}
.footer .social-media ul {
  text-align: center;
}
.footer .social-media ul:after {
  content: "";
  display: table;
  clear: both;
}
.footer .social-media ul li {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 7px;
  overflow: hidden;
  background-color: #e9e9e9;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  background-size: cover;
}
.footer .social-media ul li.icon-social-fb {
  background-image: url(../images/icon-social/mobile/fb.png);
}
.footer .social-media ul li.icon-social-ucool {
  background-image: url(../images/icon-social/mobile/ucool.png);
}
.footer .social-media ul li.icon-social-weibo {
  background-image: url(../images/icon-social/mobile/weibo.png);
}
.footer .social-media ul li.icon-social-youtube {
  background-image: url(../images/icon-social/mobile/youtube.png);
}
.footer .social-media ul li a {
  width: 40px;
  height: 40px;
  display: block;
  text-indent: 100%;
}
.footer .language {
  display: none;
}

@media (min-width: 768px) {
  .footer {
    height: 100px;
    border-right: none;
    position: relative;
    border-left: 22px solid #333366;
  }
  .footer .contact-info {
    position: absolute;
    text-align: left;
    left: 20px;
    top: 15px;
    width: 420px;
    padding-top: 0;
  }
  .footer .contact-info ul:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer .contact-info ul li {
    float: left;
    margin-right: 20px;
  }
  .footer .contact-info ul li.name {
    float: none;
  }
  .footer .social-media {
    position: absolute;
    padding: 0;
    right: 160px;
    top: 30px;
  }
  .footer .social-media ul li {
    margin: 0 3px;
  }
  .footer .social-media ul li:hover {
    background-color: white;
  }
  .footer .language {
    display: block;
    position: absolute;
    right: 5px;
    top: 35px;
    margin-top: 0 !important;
  }
  .footer .language ul li {
    width: 32px;
    height: 32px;
  }
  .footer .language ul li a {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #e9e9e9;
    border: 1px solid #e9e9e9;
  }
  .footer .language ul li a:hover {
    color: white;
    border: 1px solid white;
  }
}
.language {
  text-align: center;
  margin-top: 20px;
}
.language:after {
  content: "";
  display: table;
  clear: both;
}
.language ul li {
  margin-right: 12px;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.language ul li:last-child {
  margin-right: 0;
}
.language ul li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #333366;
  color: #333366;
}

.slider-container .slider-padding {
  display: none;
}

@media (min-width: 768px) {
  .slider {
    margin-top: 160px;
  }

  .slider-container {
    padding-left: 160px;
    position: relative;
    background-color: white;
  }
  .slider-container .slider-padding {
    display: block;
    width: 110px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e9e9e9;
  }
  .slider-container .slider-cover {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 210px;
    height: 230px;
    background-image: url(../images/bg_slider_cover.png);
    z-index: 9;
  }
  .slider-container .slider-content {
    border-bottom: 5px solid #333366;
  }
  .slider-container .slider-content a.bx-prev, .slider-container .slider-content a.bx-next {
    display: none !important;
  }
  .slider-container .slider-content img {
    width: 100%;
  }
}
.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../images/bx_loader.gif) center center no-repeat white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: white;
  text-indent: -9999px;
  display: block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  outline: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: transparent;
  border: 1px solid white;
  width: 8px;
  height: 8px;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  display: none;
  left: 10px;
  background: url(../images/icon_controls.png) no-repeat 0 0;
}
@media (min-width: 768px) {
  .bx-wrapper .bx-prev {
    display: block;
    top: 0;
    border: 1px solid #172db5;
    left: auto;
    right: 110px;
  }
}

.bx-wrapper .bx-next {
  display: none;
  right: 10px;
  background: url(../images/icon_controls.png) no-repeat 0px -32px;
}
@media (min-width: 768px) {
  .bx-wrapper .bx-next {
    display: block;
    border: 1px solid #172db5;
    right: 65px;
  }
}

.bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
  background-position: 0 -32px;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
@media (min-width: 768px) {
  .bx-wrapper .bx-controls-direction a {
    top: 30px;
  }
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

@media (min-width: 768px) {
  .bx-wrapper img {
    width: 100%;
  }

  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    bottom: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 30px;
  }

  .bx-wrapper .bx-pager {
    text-align: right;
  }

  .bx-wrapper .bx-pager.bx-default-pager a {
    text-indent: 1000%;
    overflow: hidden;
  }
}
.popup {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #e9e9e9;
  padding-top: 100px;
  z-index: 8;
}
.popup .popup-header {
  position: fixed;
  z-index: 2;
  height: 50px;
  line-height: 50px;
  top: 0;
  width: 100%;
  border-top: 1px solid #b5b5b5;
  background-color: rgba(233, 233, 233, 0.8);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 20px;
}
.popup .popup-header:after {
  content: "";
  display: table;
  clear: both;
}
.popup .popup-header a {
  display: block;
  width: 32px;
  height: 32px;
  border: 1px solid #333366;
  text-indent: 100%;
  overflow: hidden;
}
.popup .popup-header .text-block {
  display: none;
  float: left;
  margin-right: 10px;
}
.popup .popup-header .text-block .icon-text {
  background-image: url(../images/icon-control/mobile/text.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup .popup-header .share-block {
  float: left;
}
.popup .popup-header .share-block .icon-fb {
  display: inline-block;
  margin-right: 5px;
  background-image: url(../images/icon-control/mobile/fb.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup .popup-header .share-block .icon-weibo {
  display: inline-block;
  background-image: url(../images/icon-control/mobile/weibo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup .popup-header .controller {
  float: right;
}
.popup .popup-header .controller div {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup .popup-header .controller .home-btn {
  background-image: url(../images/icon-control/mobile/home.png);
}
.popup .popup-header .controller .close-btn {
  background-image: url(../images/icon-control/mobile/close.png);
}
.popup .popup-bottom {
  position: fixed;
  z-index: 2;
  height: 50px;
  line-height: 50px;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #b5b5b5;
  background-color: rgba(233, 233, 233, 0.8);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 20px;
}
.popup .popup-bottom:after {
  content: "";
  display: table;
  clear: both;
}
.popup .popup-bottom a {
  display: block;
  width: 32px;
  height: 32px;
  border: 1px solid #333366;
  text-indent: 100%;
  overflow: hidden;
}
.popup .popup-bottom .share-block {
  float: left;
}
.popup .popup-bottom .share-block .icon-fb {
  display: inline-block;
  margin-right: 5px;
  background-image: url(../images/icon-control/mobile/fb.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup .popup-bottom .share-block .icon-weibo {
  display: inline-block;
  background-image: url(../images/icon-control/mobile/weibo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup .popup-bottom .controller {
  float: right;
}
.popup .popup-bottom .controller div {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup .popup-bottom .controller .prev-btn {
  background-image: url(../images/icon-control/mobile/prev.png);
}
.popup .popup-bottom .controller .next-btn {
  background-image: url(../images/icon-control/mobile/next.png);
}
.popup .popup-bottom .controller .close-btn {
  background-image: url(../images/icon-control/mobile/close.png);
}
.popup .popup-container {
  position: absolute;
  height: 100%;
  z-index: 1;
}
.popup .popup-container .content-intro {
  padding: 20px;
}
.popup .popup-container .content-intro h1 {
  font-size: 20px;
  color: #333333;
}
.popup .popup-container .content-intro .summary {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.popup .popup-container .content-intro span {
  font-size: 12px;
  display: block;
}
.popup .popup-container .content-intro .date {
  font-size: 12px;
  color: #999999;
  display: block; 
}
.popup .popup-container .content-intro .tag {
  font-size: 14px;
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.popup .popup-container .content-intro p,.popup .popup-container .content-intro pre {
  font-size: 14px;
}
.popup .popup-container .content-video {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 2px;
}
.popup .popup-container .content-video iframe, .popup .popup-container .content-video object, .popup .popup-container .content-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popup .popup-container .content-photo ul li {
  margin-bottom: 2px;
}
.popup .popup-container .content-photo ul li img {
  width: 100%;
}
.popup .popup-container .content-photo #portfolioCounter {
  position: absolute;
  left: 50%;
  bottom: 30px;
  text-align: center;
  width: 60px;
  margin-left: -30px;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}
.popup .popup-container .intro-text {
  padding: 20px;
  z-index: 1;
}
.popup .popup-container .intro-text h1 {
  font-size: 16px;
  color: #333333;
}
.popup .popup-container .intro-text .summary {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.popup .popup-container .intro-text span {
  font-size: 12px;
  display: block;
}
.popup .popup-container .intro-text p {
  margin-bottom: 1.5em;
  font-size: 12px;
}
.popup .popup-container .goTop {
  padding-bottom: 60px;
}

.popup-portfolio {
  background-color: black;
  padding-top: 0;
  z-index: 11;
}
.popup-portfolio img {
  max-width: none !important;
}
.popup-portfolio .bx-wrapper img {
  max-width: none !important;
}
.popup-portfolio .popup-container .content-photo ul li img {
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.popup-portfolio .popup-container .content-intro {
  border-right: 5px solid #333366;
}
.popup-portfolio .popup-container .content-intro .goTop {
  padding-bottom: 0;
}
.popup-portfolio .popup-container .bx-viewport li {
  overflow: hidden;
}
.popup-portfolio .popup-container .bx-pager {
  display: none;
}

.page.openPopup {
  overflow: hidden;
  height: 100%;
}
.page.openPopup .popup {
  display: block;
}

@media (min-width: 768px) {
  .popup {
    padding-top: 275px;
  }
  .popup .popup-container {
    position: relative;
  }
  .popup .popup-container:after {
    content: "";
    display: table;
    clear: both;
  }
  .popup .popup-container .content-intro {
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .popup .popup-container .content-intro.fixed {
    position: fixed;
    top: 110px;
  }
  .popup .popup-container .content-photo {
    width: 50%;
    float: right;
  }
  .popup .popup-container .goTop {
    display: none;
  }
  .popup .popup-bottom {
    position: absolute;
    top: 210px;
    border-top: none;
    bottom: auto;
  }
  .popup .popup-bottom.fixed {
    position: fixed;
    top: 50px;
  }

  .popup-news .popup-container .content-intro {
    position: absolute;
    top: 0;
    left: 0;
  }

  .popup-report .popup-container .content-intro {
    position: absolute;
    top: 0;
    left: 0;
  }

  .popup-portfolio {
    padding-top: 0;
  }
  .popup-portfolio .popup-header {
    z-index: 10;
  }
  .popup-portfolio .popup-header .text-block {
    display: block;
  }
  .popup-portfolio .popup-container {
    position: relative;
  }
  .popup-portfolio .popup-container .content-photo {
    position: relative;
    width: 100%;
    float: none;
  }
  .popup-portfolio .popup-container .content-photo ul li img {
    width: auto;
    position: relative;
    top: 0;
    left: 0;
  }
  .popup-portfolio .popup-container .content-photo .intro-text {
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 30px 0 30px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    left: 0;
    top: 0;
    border-right: none;
    z-index: 10;
    width: 40%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .popup-portfolio .popup-container .content-photo .intro-text h1 {
    font-size: 20px;
    color: #333333;
    margin-top: 1.5em;
  }
  .popup-portfolio .popup-container .content-photo .intro-text .summary {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  .popup-portfolio .popup-container .content-photo .intro-text span {
    font-size: 14px;
    display: block;
  }
  .popup-portfolio .popup-container .content-photo .intro-text p,.popup-portfolio .popup-container .content-photo .intro-text pre {
    margin-bottom: 1.5em;
    font-size: 14px;
  }
  .popup-portfolio .popup-container .content-photo .intro-text.close {
    left: -50%;
  }
  .popup-portfolio .popup-container .bx-wrapper .bx-controls-direction a {
    top: 0;
    margin-top: 0;
    width: 50%;
    height: 100%;
    z-index: 9;
  }
  .popup-portfolio .popup-container .bx-wrapper .bx-prev {
    background: none;
    left: 0;
    border: none;
  }
  .popup-portfolio .popup-container .bx-wrapper .bx-prev:hover {
    border-left: 5px solid #333366;
  }
  .popup-portfolio .popup-container .bx-wrapper .bx-next {
    background: none;
    right: 0;
    border: none;
  }
  .popup-portfolio .popup-container .bx-wrapper .bx-next:hover {
    border-right: 5px solid #333366;
  }
}
.goTop {
  text-align: center;
  margin-top: 20px;
}
.goTop a {
  display: inline-block;
  background-image: url(../images/icon-control/mobile/up.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  border: 1px solid #333366;
  text-indent: 100%;
  overflow: hidden;
}

.page.index .header-container {
  border-top: 5px solid #333366;
  background-color: transparent;
  background-image: none;
}
.page.index .header-container .navi-toggle a {
  background-color: transparent;
}
.page.index .header-container .logo {
  display: none;
}
@media (min-width: 768px) {
  .page.index .header-container {
    border-top: none;
  }
  .page.index .header-container .logo {
    display: block;
  }
}

.index .container {
  padding-top: 0;
}
.index .container .logo {
  width: 50%;
  float: left;
  margin-right: 0%;
  min-height: 160px;
  background-color: #333366;
  background-image: url(../images/icon_logo_r.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.index .container .latest-news ul li {
  width: 50%;
  float: left;
  margin-right: 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  padding-right: 2px;
}
.index .container .latest-news ul li:nth-child(2n+1) {
  width: 50%;
  float: right;
  margin-right: 0;
  padding-right: 0;
}
.index .container .latest-news ul li a {
  display: block;
}
.index .container .latest-news ul li .photo {
  height: 80px;
  overflow: hidden;
}
.index .container .latest-news ul li .photo img {
  width: 100%;
}
.index .container .latest-news ul li .intro {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  height: 80px;
}
.index .container .latest-news ul li .intro p {
  font-size: 0.875em;
  line-height: 1.71429em;
}
.index .container .latest-news ul li .intro span {
  display: none;
  font-size: 0.75em;
  line-height: 2em;
}
@media (min-width: 768px) {
  .index .container .latest-news {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 100px;
    background-color: #333366;
    margin-top: 50px;
  }
  .index .container .latest-news .logo {
    display: none;
  }
  .index .container .latest-news ul {
    background-color: #e9e9e9;
  }
  .index .container .latest-news ul:after {
    content: "";
    display: table;
    clear: both;
  }
  .index .container .latest-news ul li {
    width: 33.33333%;
    float: left;
    margin-right: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 2px;
  }
  .index .container .latest-news ul li:nth-child(2n+1) {
    width: 33.33333%;
    float: left;
    margin-right: 0%;
  }
  .index .container .latest-news ul li .photo {
    height: auto;
    overflow: auto;
    opacity: 1;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .index .container .latest-news ul li a:hover .photo {
    opacity: 0.6;
  }
  .index .container .latest-news ul li .intro {
    height: auto;
  }
  .index .container .latest-news ul li .intro p {
    line-height: 20px;
    height: 40px;
    overflow: hidden;
  }
  .index .container .latest-news ul li .intro span {
    display: block;
  }
}
.index .container .intro-text {
  display: none;
}
@media (min-width: 768px) {
  .index .container .intro-text {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 60%;
    margin: 80px auto;
  }
  .index .container .intro-text p {
    font-size: 14px;
    margin-bottom: 2.25em;
  }
  .index .container .intro-text h1 {
    font-size: 20px;
    text-align: center;
  }
}
.index .container .video {
  display: none;
}
.index .container .video .iframe{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
}

@media (min-width: 768px) {
  .index .container .video {
    display: block;
    position: relative;
    height: 600px;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
  }
  .index .container .video .text {
    position: relative;
    top: 40%;
    width: 220px;
    margin: 0 auto;
    text-align: center;
  }
  .index .container .video a {
    color: #e9e9e9;
  }
  .index .container .video h2 {
    font-size: 24px;
    line-height: 32px;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .index .container .video .play-btn {
    display: inline-block;
    width: 63px;
    height: 63px;
    background-image: url(../images/btn_play.png);
  }
  .index .container .video a:hover {
    color: white;
  }
  .index .container .video a:hover .play-btn {
    background-image: url(../images/btn_play_h.png);
  }
}

.container-news {
  margin: 20px 0;
}
.container-news ul.news-list {
  padding: 0 20px;
}
.container-news ul.news-list li {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #999999;
}
.container-news ul.news-list li a {
  display: block;
}
.container-news ul.news-list li .photo img {
  margin-bottom: 1.5em;
  width: 100%;
}
.container-news ul.news-list li .intro p {
  padding: 0 10px;
}
.container-news ul.news-list li .intro span {
  font-size: 12px;
  color: #999999;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .container-news {
    margin-top: 70px;
  }
  .container-news ul.news-list {
    display: block;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .container-news ul.news-list:after {
    content: "";
    display: table;
    clear: both;
  }
  .container-news ul.news-list:nth-child(2n+1) {
    padding-left: 100px;
  }
  .container-news ul.news-list:nth-child(2n) {
    padding-right: 100px;
  }
  .container-news ul.news-list li {
    width: 33.33333%;
    float: left;
    margin-right: 0%;
    border-bottom: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1px;
  }
  .container-news ul.news-list li .photo {
    opacity: 1;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .container-news ul.news-list li a:hover .photo {
    opacity: 0.6;
  }
  .container-news ul.news-list li .photo img {
    margin-bottom: 0.75em;
  }
}
.container-portfolio {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container-portfolio .latest-item .item {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
.container-portfolio .latest-item .item a {
  display: block;
}
.container-portfolio .latest-item .item .photo img {
  width: 100%;
}
.container-portfolio .latest-item .item .intro {
  display: none;
}
.container-portfolio .item-list:after {
  content: "";
  display: table;
  clear: both;
}
.container-portfolio .item-list .item {
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
.container-portfolio .item-list .item a {
  display: block;
}
.container-portfolio .item-list .item .photo img {
  width: 100%;
}
.container-portfolio .item-list .item .intro {
  display: none;
}
@media (min-width: 768px) {
  .container-portfolio .latest-item:after {
    content: "";
    display: table;
    clear: both;
  }
  .container-portfolio .latest-item .item {
    width: 50%;
    float: left;
  }
  .container-portfolio .latest-item .item a {
    position: relative;
  }
  .container-portfolio .latest-item .item .photo {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .container-portfolio .latest-item .item .photo img {
    -webkit-transition: all 275ms ease;
    -moz-transition: all 275ms ease;
    -o-transition: all 275ms ease;
    transition: all 275ms ease;
  }
  .container-portfolio .latest-item .item a:hover .photo img {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  .container-portfolio .latest-item .item a:hover .intro {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 50%;
    height: 50%;
    background-color: rgba(51, 51, 102, 0.7);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
  }
  .container-portfolio .latest-item .item a:hover .intro h2 {
    font-size: 20px;
    line-height: 24px;
    color: white;
  }
  .container-portfolio .latest-item .item a:hover .intro p {
    font-size: 14px;
    color: white;
  }
  .container-portfolio .item-list:after {
    content: "";
    display: table;
    clear: both;
  }
  .container-portfolio .item-list .item {
    width: 25%;
    padding: 10px;
  }
  .container-portfolio .item-list .item .photo {
    z-index: 1;
    overflow: hidden;
  }
  .container-portfolio .item-list .item .photo img {
    -webkit-transition: all 275ms ease;
    -moz-transition: all 275ms ease;
    -o-transition: all 275ms ease;
    transition: all 275ms ease;
  }
  .container-portfolio .item-list .item a {
    position: relative;
  }
  .container-portfolio .item-list .item a:hover .photo img {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  .container-portfolio .item-list .item a:hover .intro {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 102, 0.7);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
  }
  .container-portfolio .item-list .item a:hover .intro h2 {
    font-size: 20px;
    line-height: 24px;
    color: white;
  }
  .container-portfolio .item-list .item a:hover .intro p {
    font-size: 14px;
    color: white;
  }
}

@media (min-width: 1280px) {
  .container-portfolio {
    padding: 0;
  }
  .container-portfolio .latest-item .item {
    margin: 10px 0;
  }
  .container-portfolio .item-list .item {
    width: 300px;
    padding: 0;
    margin: 0 10px 20px 10px;
  }
}
.container-report {
  padding: 20px;
}
.container-report .report-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container-report .report-list:after {
  content: "";
  display: table;
  clear: both;
}
.container-report .report-list .item {
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container-report .report-list .item a {
  display: block;
}
.container-report .report-list .item .photo {
  width: 100%;
}
.container-report .report-list .item .photo img {
  width: 100%;
}
.container-report .report-list .item .intro {
  background-color: white;
  padding: 20px;
}
.container-report .report-list .item .intro h2 {
  font-size: 1em;
  line-height: 1.5em;
}
.container-report .report-list .item .intro p {
  font-size: 0.75em;
  line-height: 2em;
}
.container-report .report-list .item .intro span {
  font-size: 0.75em;
  line-height: 2em;
  color: #959595;
}
@media (min-width: 768px) {
  .container-report .report-list .item {
    width: 25%;
    padding: 10px;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .container-report .report-list {
    padding: 0;
  }
}

.awards .container {
  position: relative;
  padding-top: 100px;
}
.awards .container #timeline {
  display: none;
}
@media (min-width: 768px) {
  .awards .container {
    padding-top: 160px;
  }
  .awards .container #timeline {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 34px;
    height: 3000px;
    background-image: url(../images/bg_timeline.png);
  }
}

.container-awards {
  padding: 20px;
}
.container-awards .awards-block h2 {
  display: none;
}
.container-awards .awards-block ul li {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #999999;
}
.container-awards .awards-block ul li a {
  display: block;
}
.container-awards .awards-block ul li .photo {
  margin-bottom: 1.5em;
  position: relative;
}
.container-awards .awards-block ul li .photo img {
  position: relative;
  z-index: 0;
  width: 100%;
}
.container-awards .awards-block ul li .photo .awards-cover {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(51, 51, 102, 0.6);
}
.container-awards .awards-block ul li .photo.link .awards-cover {
  display: block;
}
.container-awards .awards-block ul li .intro span {
  color: #172db5;
  font-size: 14px;
}
.container-awards .awards-block ul li.empty {
  display: none;
}

@media (min-width: 768px) {
  .container-awards {
    padding: 30px 0 0 0;
  }
  .container-awards .awards-block {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 50px;
  }
  .container-awards .awards-block:after {
    content: "";
    display: table;
    clear: both;
  }
  .container-awards .awards-block .year {
    display: block;
    width: 33.33333%;
    float: left;
    margin-right: 0%;
    border-top: 1px solid #959595;
    position: relative;
  }
  .container-awards .awards-block h2 {
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -40px;
    line-height: 66px;
    font-family: 'futuramc';
    font-size: 76px;
    display: inline-block;
    width: 80px;
    margin-top: 0em;
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    word-wrap: break-word;
  }
  .container-awards .awards-block ul {
    width: 66.66667%;
    float: left;
    margin-right: 0%;
    font-size: 0;
  }
  .container-awards .awards-block ul:after {
    content: "";
    display: table;
    clear: both;
  }
  .container-awards .awards-block ul li {
    display: inline-block;
    border-bottom: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    padding-right: 1px;
    vertical-align: top;
    font-size: 16px;
    padding-bottom: 0;
  }
  .container-awards .awards-block ul li .photo {
    margin-bottom: 0.75em;
  }
  .container-awards .awards-block ul li .photo:hover .awards-cover {
    display: block;
  }
  .container-awards .awards-block ul li .intro {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
  }
  .container-awards .awards-block ul li.empty {
    display: inline-block;
  }
  .container-awards .awards-block ul li.empty .photo {
    background-image: url(../images/bg_empty_image.png);
  }
  .container-awards .awards-block ul li.empty:nth-child(2n+3) {
    display: none;
  }
}
.about {
  padding-top: 50px;
}
.about .container {
  padding-top: 0;
}
.about .container .intro-text {
  padding: 35px 15px 25px 15px;
  border-right: 5px solid #333366;
}
.about .container .intro-text h1 {
  font-size: 20px;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 1.5em;
}
.about .container .intro-text p,.about .container .intro-text pre {
  font-size: 14px;
  margin-bottom: 1.5em;
}
.about .container .designer-intro {
  background-color: white;
  padding: 25px 0 0 0;
}
.about .container .designer-intro ul li .photo {
  position: relative;
  width: 220px;
  margin: 0 auto 25px;
}
.about .container .designer-intro ul li .photo .name {
  position: absolute;
  width: 100%;
  bottom: 0;
  line-height: 50px;
  text-align: center;
  color: white;
  background-color: rgba(51, 51, 102, 0.7);
}
.about .container .designer-intro ul li .photo:last-child {
  margin: 0 auto;
}
.about .container .designer-intro ul li .intro,.about .container .designer-intro ul li .intro pre {
  width: 220px;
  margin: 0 auto;
}
.about .container .designer-intro ul li .intro h2 {
  margin-top: 1.5em;
  font-size: 14px;
  font-weight: 600;
}
.about .container .designer-intro ul li .intro p {
  font-size: 14px;
}
.about .container #designercounter {
  text-align: center;
  padding: 15px 0;
  color: #172db5;
}
.about .container .service-section {
  border-right: 5px solid #333366;
  padding-bottom: 20px;
}
.about .container .service-section .service-block {
  padding: 20px;
}
.about .container .service-section .service-block h2 {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1.5em;
}
@media (min-width: 768px) {
  .about {
    padding-top: 0;
  }
  .about .slider-container .slider-content {
    border-bottom: none;
  }
  .about .container .intro-text {
    padding: 35px 0;
  }
  .about .container .intro-text p,.about .container .intro-text pre {
    width: 70%;
    margin: 0 auto 20px;
  }
  .about .container .designer-intro {
    padding: 40px 0 0 0;
  }
  .about .container .designer-intro ul li {
    text-align: center;
  }
  .about .container .designer-intro ul li .photo {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 0 10px !important;
  }
  .about .container .designer-intro ul li .intro {
    width: 455px;
    vertical-align: top;
    display: inline-block;
    margin: 0 10px;
  }
  .about .container .designer-intro ul li .intro h2 {
    margin-top: 0em;
    text-align: left;
  }
  .about .container .designer-intro ul li .intro p,.about .container .designer-intro ul li .intro pre {
    font-size: 14px;
    text-align: left;
    width:100%;
  }
  .about .container .service-section {
    border-right: 5px solid #333366;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .about .container .service-section:after {
    content: "";
    display: table;
    clear: both;
  }
  .about .container .service-section .service-wrap {
    width: 70%;
    margin: 0 auto;
  }
  .about .container .service-section .service-block {
    width: 33.33333%;
    float: left;
    margin-right: 0%;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .about .container .service-section .service-block h2 {
    text-align: left;
  }
  .about .container .service-section .service-block.latest {
    padding: 20px 0 20px 20px;
  }
  .about .container .service-section .goTop {
    display: none;
  }
}
.contact .container {
  padding-top: 50px;
}

#map_canvas {
  width: 100%;
  height: 300px;
}
#map_canvas img {
  max-width: none !important;
}

@media (min-width: 768px) {
  .contact .container {
    padding-top: 160px;
  }

  .container-contact {
    padding-left: 160px;
    position: relative;
    background-color: #e9e9e9;
  }
  .container-contact .container-padding {
    display: block;
    width: 110px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
  }
}

/*dosomething*/

#loading{
  text-align: center;
  display: none;
}
#loading>img{
  display: inline-block;
}
.about .container .service-section .service-block p, .about .container .service-section .service-block pre {
  font-size: 14px;
}
.about .container .service-section .service-block ul li, .about .container .service-section .service-block pre {
  font-size: 14px;
}